* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Cuprum", sans-serif;
  overflow-x: hidden;
  background-color: #fff !important;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 10px;
}

#mainContent {
  position: relative;
  border-radius: 20px;
  min-height: 70vh;
}

#mainContent::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 1;
}

.navbar-brand {
  color: #fff;
  font-size: 16px;
  font-family: "Racing Sans One", sans-serif;
}

.navbar-brand:hover {
  color: #fff;
}

#mainCard {
  position: relative;
  z-index: 1;
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  border-radius: 30px;
}

.temperature {
  font-size: 60px;
  font-family: "Archivo Black", sans-serif;
}

.city-name {
  font-size: 50px;
}

.country-name {
  font-size: 20px;
}

.date {
  font-size: 18px;
}

.time {
  font-size: 18px;
}

.day-weather-info {
  background-color: rgb(255 255 255/0.9);
}

.info img {
  width: 30% !important;
  background-color: #7668e5;
  padding: 5px;
  border-radius: 10px;
}

.sub-heading {
  color: #666;
  font-size: 14px;
  font-weight: lighter;
}

.result {
  color: #666;
  font-size: 14px;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}

#dayInfoContainer > .owl-nav {
  position: relative;
  font-size: 18px;
}

#dayInfoContainer > .owl-nav > .owl-next {
  color: #000 !important;
  padding: 10px !important;
  position: relative;
  margin-left: 20px;
}

#dayInfoContainer > .owl-nav > .owl-prev {
  color: #000 !important;
  padding: 10px !important;
  position: relative;
  margin-right: 20px;
}

#dayInfoContainer > .owl-nav > .owl-next:hover {
  color: #fff !important;
  background-color: #353589;
}

#dayInfoContainer > .owl-nav > .owl-prev:hover {
  color: #fff !important;
  background-color: #353589;
}

#allHourDataContainer > .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#allHourDataContainer > .owl-nav > .owl-next {
  position: absolute;
  top: -80px;
  right: 15%;
  background-color: #fff;
  border: 1px solid #666;
  color: #000;
  border-radius: 50%;
  padding: 10px 20px !important;
}

#allHourDataContainer > .owl-nav > .owl-prev {
  position: absolute;
  top: -80px;
  right: 20%;
  padding: 10px 20px !important;
  background-color: #fff;
  border: 1px solid #666;
  color: #000;
  border-radius: 50%;
}

#allHourDataContainer > .owl-nav > .owl-next:hover {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  border: 1px solid #666;
  color: #fff;
}

#allHourDataContainer > .owl-nav > .owl-prev:hover {
  background: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
  border: 1px solid #666;
  color: #fff;
}

.owl-carousel .owl-item #hourlyIcon {
  width: auto;
}

#allHourDataContainer .owl-nav {
  display: none;
}

.each-hour {
  padding: 5px 15px;
  border-radius: 43px;
  background-color: #7668e5;
}

.each-day {
  padding: 5px 15px;
  border-radius: 43px;
  background-color: #353589;
}

#hourTemp {
  font-size: 57px;
  font-family: "Archivo Black", sans-serif;
  color: #353589;
}

.hourly-results,
.hourly-condition {
  font-size: 20px;
  color: #666;
}

.hourly-wind-img,
.hourly-rain-img {
  width: 40px !important;
  filter: invert(15%) sepia(15%) saturate(500%) hue-rotate(210deg)
    brightness(80%) contrast(100%);
}

#allHourDataContainer > .owl-stage-outer > .owl-stage > .owl-item {
  background: -o-linear-gradient(315deg, #f7f8fa, #e1e3e6);
  background: linear-gradient(135deg, #f7f8fa, #e1e3e6);
  border-radius: 10px;
  margin-block: 10px;
  -webkit-transition: background 0.6s ease-in-out;
  -o-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out !important;
}

#allHourDataContainer > .owl-stage-outer > .owl-stage > .owl-item:hover {
  background: -o-linear-gradient(132.37deg, #353589, #9a9aff);
  background: linear-gradient(317deg, #353589, #9a9aff);
  -webkit-transition: background 0.6s ease-in-out;
  -o-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out !important;
}

#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:hover
  #hourTemp,
#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:hover
  .hourly-results,
#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:hover
  .hourly-condition {
  color: #fff;
}

#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:hover
  .hourly-wind-img,
#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:hover
  .hourly-rain-img {
  filter: invert(10%);
}

#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:has(> .active-hour) {
    background-image: linear-gradient(317.63deg, #353589 -7.42%, #9a9aff 120.45%);
    color: #fff !important;
}

#allHourDataContainer
  > .owl-stage-outer
  > .owl-stage
  > .owl-item:has(> .active-hour) *{
    color: #fff !important;
}
