* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Cuprum", sans-serif;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-block: 10px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 1;
}

.navbar-brand {
  color: #fff;
  font-size: 16px;
  font-family: "Racing Sans One", sans-serif;
}

.navbar-brand:hover {
  color: #fff;
}

.temperature {
  font-size: 60px;
  font-family: "Archivo Black", sans-serif;
}

.weather-condition {
  font-size: 25px;
  margin-top: -20px;
}

.city-name {
  font-size: 30px;
}

.country-name {
  color: #dfdbdb;
  font-size: 20px;
}

.date {
  font-size: 18px;
}

.time {
  font-size: 18px;
}

.day-weather-info {
  background-color: #59595c75;
}

.info img {
  width: 33% !important;
}

.sub-heading {
  color: #dfdbdb;
  font-size: 16px;
  font-weight: lighter;
}

.result {
  font-size: 16px;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}

#dayCondition {
  width: 100px;
  height: 100px;
}

.owl-item:has(> .active-hour) {
  background-color: #59595c3b !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.full-page-slide > .owl-nav {
  font-size: 18px;
}

.full-page-slide > .owl-nav > .owl-next {
  padding-right: 40px;
  position: relative;
  margin-left: 20px;
}

.full-page-slide > .owl-nav > .owl-prev {
  padding-right: 40px;
  position: relative;
  margin-right: 20px;
}

#allDayDataContainer > .owl-nav {
  position: absolute;
  top: 50%;
  right: 40px;
  left: 40px;
  transform: translateY(-50%);
}

#allDayDataContainer > .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  background-color: #00000065;
  border-radius: 30%;
  padding: 25px 20px !important;
}

#allDayDataContainer > .owl-nav > .owl-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  padding: 25px 20px !important;
  background-color: #00000065;
  border-radius: 30%;
}

#allDayDataContainer .owl-stage-outer {
  margin-left: 30px;
}

.owl-carousel .owl-item img {
  width: auto;
}

#allDayDataContainer .owl-nav {
  display: none;
}

.each-hour {
  padding: 20px 25px;
}

#hourTemp {
  font-size: 30px;
  font-family: "Archivo Black", sans-serif;
}
