* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Cuprum", sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 100vh;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 1;
}

.navbar-brand {
  color: #fff;
  font-size: 18px;
  font-family: "Racing Sans One", sans-serif;
}

.navbar-brand:hover {
  color: #fff;
}

.temperature {
  font-size: 60px;
  font-family: "Archivo Black", sans-serif;
}

.weather-condition {
  font-size: 25px;
  margin-top: -20px;
}

.city-name {
  font-size: 30px;
}

.country-name {
  color: #dfdbdb;
  font-size: 20px;
}

.date {
  font-size: 18px;
}

.time {
  font-size: 18px;
}

.day-weather-info {
  background-color: #dfdbdb46;
}

.info img {
  width: 33% !important;
}

.sub-heading {
  color: #dfdbdb;
  font-size: 16px;
  font-weight: lighter;
}

.result {
  font-size: 16px;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}

#dayCondition {
  width: 100px;
  height: 100px;
}

.owl-item:has(> .active-hour) {
  background-color: #0000003f !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.full-page-slide > .owl-nav {
  font-size: 18px;
}

.full-page-slide > .owl-nav [aria-label="Next"] {
  padding-right: 40px;
  position: relative;
  margin-left: 20px;
}

.full-page-slide > .owl-nav [aria-label="Previous"] {
  padding-right: 40px;
  position: relative;
  margin-right: 20px;
}

.full-page-slide > .owl-nav [aria-label="Next"]::after {
  content: "Page";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.full-page-slide > .owl-nav [aria-label="Previous"]::after {
  content: "Page";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#allDayDataContainer > .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

.owl-nav button {
  margin-inline: 10px;
}

#allDayDataContainer .owl-nav button span {
  font-size: 30px !important;
  display: block;
  background-color: #cac7c73f !important;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.owl-carousel .owl-item img {
  width: auto;
}

#allDayDataContainer .owl-nav {
  display: none;
}

.each-hour {
  padding: 20px 25px;
}

#hourTemp {
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
}
