@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 40px;
  }
  .temperature {
    font-size: 60px;
  }

  #cityName {
    font-size: 80px;
  }

  .country-name {
    font-size: 30px;
  }

  .sub-heading {
    font-size: 20px;
  }

  .info img {
    width: 25% !important;
  }

}

@media (min-width: 992px) {
  .temperature {
    font-size: 70px;
  }

  .info {
    width: 200px;
    justify-self: center;
  }

  .result {
    font-size: 25px;
  }

  #allHourDataContainer .owl-nav {
    display: block;
  }
}

@media (min-width: 1200px) {
  .result {
    font-size: 22px;
  }

  .sub-heading {
    font-size: 20px;
  }
}
